body {
  font-size: 16px;
  line-height: 20px;
  background-image: url("white_wall_hash.png");
  background-size: 100% 100%;
  background-repeat: repeat;
}

p {
  color: rgb(53, 52, 52);
}

h1 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
  text-align: center;
}

.nav {
  margin-top: 10px;
  padding-top: 10px;
  float: right;
  color: white;
}

.navbar.navbar-default.navbar-static-top {
  background-color: rgb(255, 136, 0)
}

.panel.panel-default {
  position: absolute;
  top: 0;
  right: 14px;
}

.panel-row {
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 30px;
  margin-top: 10px;
  color: rgb(53, 52, 52);
}

.profile-image {
  border-radius: 25px;
  border: 2px solid gray;
  width: 150px;
  height: 150px;
}

.inactive {
  background-color: rgb(199, 196, 196);
  color: white;
}

.connect-image {
  width: 50px;
  height: 50px;
  border: 0;
  text-decoration: none;
  padding: 0px;
}

.page-header {
  border-bottom-color: rgb(255, 136, 0);
}

#form-text-style-message {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  height: 170px;
}

.form-text-style {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

#submit-button {
  color: #ffffff;
  background: rgb(255, 136, 0);
  padding: 10px 30px 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

footer {
  width: 100%;
  height: 17px;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: rgb(255, 136, 0);
  padding: 15px 10px 35px 20px;
  background: #666666;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}